/.idea/vcs.xml
/ms-backend-for-fronted/mvnw.cmd
/ms-backend-for-fronted/mvnw
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_3_0_2.xml
/.idea/.gitignore
/ms-backend-for-fronted/.gitignore
/.idea/compiler.xml
/.idea/Desafio Engenharia de Software.iml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_4_5.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_4_5.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_14_1.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_14_0.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_31_1_android.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_7_0.xml
/.idea/libraries/Maven__com_rabbitmq_amqp_client_5_16_0.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__io_grpc_grpc_api_1_52_1.xml
/.idea/libraries/Maven__io_grpc_grpc_context_1_52_1.xml
/.idea/libraries/Maven__io_micrometer_micrometer_commons_1_10_3.xml
/.idea/libraries/Maven__io_micrometer_micrometer_core_1_10_3.xml
/.idea/libraries/Maven__io_micrometer_micrometer_observation_1_10_3.xml
/.idea/libraries/Maven__io_micrometer_micrometer_registry_prometheus_1_10_3.xml
/.idea/libraries/Maven__io_prometheus_simpleclient_0_16_0.xml
/.idea/libraries/Maven__io_prometheus_simpleclient_common_0_16_0.xml
/.idea/libraries/Maven__io_prometheus_simpleclient_tracer_common_0_16_0.xml
/.idea/libraries/Maven__io_prometheus_simpleclient_tracer_otel_0_16_0.xml
/.idea/libraries/Maven__io_prometheus_simpleclient_tracer_otel_agent_0_16_0.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_2_1_1.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_2_1_1.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_4_0_0.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_22.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_12_22.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_8.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_8.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_19_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_19_0.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_23_1.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_library_2_2.xml
/.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_12.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_9_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_9_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_9_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_9_2.xml
/.idea/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
/.idea/libraries/Maven__org_mockito_mockito_core_4_8_1.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_8_1.xml
/.idea/libraries/Maven__org_mongodb_bson_4_8_2.xml
/.idea/libraries/Maven__org_mongodb_bson_record_codec_4_8_2.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_core_4_8_2.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_sync_4_8_2.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_1.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_2_0_6.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_6.xml
/.idea/libraries/Maven__org_springframework_amqp_spring_amqp_3_0_1.xml
/.idea/libraries/Maven__org_springframework_amqp_spring_rabbit_3_0_1.xml
/.idea/libraries/Maven__org_springframework_amqp_spring_rabbit_junit_3_0_1.xml
/.idea/libraries/Maven__org_springframework_amqp_spring_rabbit_test_3_0_1.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_amqp_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_3_0_2.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_3_0_1.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_4_0_1.xml
/.idea/libraries/Maven__org_springframework_retry_spring_retry_2_0_0.xml
/.idea/libraries/Maven__org_springframework_spring_aop_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_beans_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_context_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_core_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_expression_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_messaging_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_test_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_tx_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_web_6_0_4.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_9_1.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
/.idea/misc.xml
/.idea/modules.xml
